{% extends "::layout.html.twig" %}

{% block body %}
    <h3>{% trans %}Foire aux questions{% endtrans %}</h3>
    <p>{% trans %}Billetterie en ligne{% endtrans %}</p>

    <div class="information">
        <h5 id="groupe1">{% trans %}INFORMATIONS PRATIQUES{% endtrans %}</h5>
        <ul>
            <li class="color"><a href="#1">&nbsp;{% trans %}Combien coûte un billet pour le musée du Louvre?{% endtrans %}</a></li>
            <li class="color"><a href="#2">&nbsp;{% trans %}Comment bénéficier d'un tarif réduit?{% endtrans %}</a></li>
            <li class="color"><a href="#3">&nbsp;{% trans %}Quels sont les jours et heures d'ouverture du musée?{% endtrans %}</a></li>
            <li class="color"><a href="#4">&nbsp;{% trans %}Quels sont les jours fériés ouverts au public?{% endtrans %}</a></li>
        </ul>

        <h5 id="groupe2">{% trans %}ACHETER SON BILLET EN LIGNE{% endtrans %}</h5>
        <ul>
            <li class="color"><a href="#5">&nbsp;{% trans %}Billetterie en ligne, quel service pour les visiteurs?{% endtrans %}</a></li>
            <li class="color"><a href="#6">&nbsp;{% trans %}Comment bénéficier d'un tarif réduit?{% endtrans %}</a></li>
            <li class="color"><a href="#7">&nbsp;{% trans %}Comment acheter mon billet en ligne?{% endtrans %}</a></li>
            <li class="color"><a href="#8">&nbsp;{% trans %}Comment modifier mon panier?{% endtrans %}</a></li>
        </ul>

        <h5 id="groupe3">{% trans %}LE PAIEMENT EN LIGNE{% endtrans %}</h5>
        <ul>
            <li class="color"><a href="#9">&nbsp;{% trans %}Le paiement est-il sécurisé?{% endtrans %}</a></li>
            <li class="color"><a href="#10">&nbsp;{% trans %}Quels sont les types de paiement proposés?{% endtrans %}</a></li>
            <li class="color"><a href="#11">&nbsp;{% trans %}Mon paiement est-il validé?{% endtrans %}</a></li>
            <li class="color"><a href="#12">&nbsp;{% trans %}Pourquoi mon paiement est-il refusé?{% endtrans %}</a></li>
            <li class="color"><a href="#13">&nbsp;{% trans %}Ma commande est-elle enregistrée?{% endtrans %}</a></li>
        </ul>

        <h5 id="groupe4">{% trans %}IMPRIMER SON BILLET{% endtrans %}</h5>
        <ul>
            <li class="color"><a href="#14">&nbsp;{% trans %}Dois-je imprimer mon billet?{% endtrans %}</a></li>
            <li class="color"><a href="#15">&nbsp;{% trans %}Comment obtenir mon billet?{% endtrans %}</a></li>
            <li class="color"><a href="#16">&nbsp;{% trans %}Comment imprimer mon billet?{% endtrans %}</a></li>
            <li class="color"><a href="#17">&nbsp;{% trans %}Mon billet est-il bien imprimé?{% endtrans %}</a></li>
            <li class="color"><a href="#18">&nbsp;{% trans %}Je n'arrive pas à imprimer!{% endtrans %}</a></li>
        </ul>

        <h5 id="groupe5">{% trans %}ACCEDER A LA PRESTATION AVEC SON BILLET{% endtrans %}</h5>
        <ul>
            <li class="color"><a href="#19">&nbsp;{% trans %}Quelles sont les conditions d'utilisation du billet?{% endtrans %}</a></li>
            <li class="color"><a href="#20">&nbsp;{% trans %}Comment mon billet est-il contrôlé?{% endtrans %}</a></li>
        </ul>
    </div>

    <h3>{% trans %}INFORMATIONS PRATIQUES{% endtrans %}</h3>

    <h6 id="1">{% trans %}Combien coûte un billet pour le musée du Louvre?{% endtrans %}</h6>

    <ul class="aide">
        <li class="tarif">{% trans %}<strong>  Tarif « normal » : </strong> à partir de 12 ans à 16 €{% endtrans %}</li>
        <li class="tarif">{% trans %}<strong>  Tarif « enfant » : </strong> à partir de 4 ans et jusqu’à 12 ans, à 8 € (l’entrée
            est gratuite pour les enfants de moins de 4 ans){% endtrans %}
        </li>
        <li class="tarif">{% trans %}<strong> Tarif « senior » : </strong> à partir de 60 ans pour 12 €{% endtrans %}</li>
        <li class="tarif">{% trans %}<strong> Tarif « réduit » : </strong> de 10 € accordé dans certaines conditions (étudiant,
            employé du musée, d’un service du Ministère de la Culture, militaire…){% endtrans %}
        </li>
    </ul>


    <h6 id="2">{% trans %}Comment bénéficier d’un tarif réduit?{% endtrans %}</h6>

    <ul>
        <li class="tarif">{% trans %}<strong>Tarif « réduit » : </strong> de 10 € accordé dans certaines conditions (étudiant,
            employé du musée, d’un service du Ministère de la Culture, militaire…){% endtrans %}
        </li>
    </ul>
    <div class="reduit">
        <p>{% trans %}Si vous disposez d'un tarif réduit, vous devez simplement cocher la case « Tarif réduit ».{% endtrans %}</p>
        <p>{% trans %}<strong> Attention : </strong> Il sera nécessaire de présenter sa carte d’étudiant, militaire ou
            équivalent lors de l’entrée pour prouver qu’on bénéficie bien du tarif réduit.{% endtrans %}</p>

    </div>
    <h6 id="3">{% trans %}Quels sont les jours et heures d’ouverture du musée?{% endtrans %}</h6>
    <p class="aide">{% trans %}Le musée est ouvert tous les jours sauf le mardi et le dimanche (et fermé les 1er mai, 1er novembre
        et 25 décembre).{% endtrans %}
    </p>

    <h6 id="4">{% trans %}Quels sont les jours fériés ouverts au public?{% endtrans %}</h6>
    <p class="aide">{% trans %}Le musée du Louvre est ouvert les jours fériés , à l’exception des mardis, des dimanches, les 1er
        mai, 1er novembre et 25 décembre.{% endtrans %}
    </p>
    <p class="align"><a href="#groupe1">{% trans %}Haut de page{% endtrans %}</a></p>

    <h3>{% trans %}ACHETER SON BILLET EN LIGNE{% endtrans %}</h3>

    <h6 id="5">{% trans %}Billetterie en ligne, quel service pour les visiteurs?{% endtrans %}</h6>

    <p class="aide">{% trans %}La billetterie en ligne du musée du Louvre permet à ses visiteurs de préparer leur visite en
        achetant à l'avance leurs billets pour : Le musée du Louvre
        Le billet acheté en ligne est valable exclusivement pour la prestation, la date et à compter de l’heure
        choisies. Il est personnel, nominatif et incessible. Imprimé à domicile, il comporte un code-barres qui devra
        être scanné au contrôle des billets, à l'entrée des collections.{% endtrans %}
    </p>
    <h6 id="6"> {% trans %}Quelles sont les offres disponibles sur le site de billetterie en ligne?{% endtrans %}</h6>

    <p class="aide">{% trans %}La billetterie en ligne du musée du Louvre propose des billets pour : Le musée du Louvre
        {% endtrans %}</p>
    <h6 id="7">{% trans %}Comment acheter un billet en ligne?{% endtrans %}</h6>

    <p class="aide">{% trans %}Pour acheter un billet, sélectionnez votre date et heure de visite
        à l'aide du calendrier affichant les créneaux disponibles. Lorsque le créneau n'est plus disponible, il est
        annoncé comme complet.
        Choisissez ensuite la quantité de billets et finalisez votre commande. Un récapitulatif s’affiche avant la
        validation de l’achat.
        Si la commande correspond, validez. Si la commande ne convient pas, retournez à la sélection de billets.
        Indiquez vos coordonnées, acceptez les conditions générales de vente et cliquez sur « paiement ».
        Régler votre commande par carte bancaire.
        Si le paiement est accepté, la confirmation de commande s’affiche. Vous recevez également un courriel de
        justificatif de paiement et un courriel de confirmation de commande.
        A partir du lien figurant dans ce courriel, vous devez générer en PDF vos billets, puis les imprimer.
        {% endtrans %}</p>
    <h6 id="8">{% trans %}Comment modifier mon panier?{% endtrans %}</h6>

    <p class="aide">{% trans %}Le panier récapitule votre commande en cours et vous permet d’ajouter des places avant la
        finalisation de votre achat.
        Vous pouvez ainsi depuis votre panier modifier votre commande ou le nombre de billets en cliquant sur « retour à
        la sélection de billet » ou payer vos achats en cliquant sur « valider ».
        {% endtrans %}</p>
    <p class="align"><a href="#groupe2">{% trans %}Haut de page{% endtrans %}</a></p>

    <h3>{% trans %}LE PAIEMENT EN LIGNE{% endtrans %}</h3>
    <h6 id="9">{% trans %}Le paiement est-il sécurisé?{% endtrans %}</h6>
    <p class="aide">{% trans %}Oui, votre paiement est sécurisé. La plate-forme de paiement avec la solution Stripe répond à la
        norme.{% endtrans %}
    </p>

    <h6 id="10">{% trans %} Quels sont les types de paiement proposés?{% endtrans %}</h6>
    <p class="aide">{% trans %}Le paiement en ligne se fait en euros, exclusivement par carte bancaire.
        Les cartes bancaires acceptées sont les cartes VISA, MASTERCARD.
        {% endtrans %}</p>
    <h6 id="11">{% trans %}Mon paiement est-il validé?{% endtrans %}</h6>
    <p class="aide">{% trans %} Votre paiement est accepté ou refusé par le centre d'autorisation des cartes bancaires. La plate de
        forme de paiement Stripe affiche à l’écran l’accord de transaction ou son rejet.
        En parallèle, si le paiement est accepté, vous recevez sur votre messagerie un mail de confirmation du paiement
        contenant le ticket client de votre règlement en carte bancaire. Ce ticket est à conserver.
        {% endtrans %}</p>
    <h6 id="12">{% trans %}Pourquoi mon paiement est-il refusé?{% endtrans %}</h6>
    <p class="aide">{% trans %} Les causes les plus fréquentes de refus de paiement sont :
        Une mauvaise saisie du numéro de la carte bancaire ou de sa date de validité ou du cryptogramme
        Le seuil d’autorisation d’achat de votre carte bancaire atteint ; consultez votre banque pour le connaître
        Une coupure internet durant la transaction.
        {% endtrans %}</p>
    <h6 id="13">{% trans %}Ma commande est-elle enregistrée?{% endtrans %}</h6>
    <p class="aide">{% trans %} Votre commande est validée par l’acceptation de votre paiement. Vous recevrez sur votre messagerie
        un courriel récapitulatif de votre commande ainsi que le lien pour imprimer vos billets.
        {% endtrans %}</p>
    <p class="align"><a href="#groupe3">{% trans %}Haut de page{% endtrans %}</a></p>

    <h3>{% trans %}IMPRIMER SON BILLET{% endtrans %}</h3>
    <h6 id="14">{% trans %}Dois-je imprimer mon billet?{% endtrans %}</h6>
    <p class="aide">{% trans %}Vous devez impérativement imprimer votre billet préalablement à votre visite.
        Le billet acheté en ligne ne peut pas être retiré sur place et le courriel de confirmation de votre commande ne
        constitue pas un titre d'accès.
        {% endtrans %}</p>
    <h6 id="15"> {% trans %}Comment obtenir mon billet?{% endtrans %}</h6>
    <p class="aide">{% trans %} Le billet est imprimable après validation du règlement et enregistrement de la commande. Il est
        accessible sous forme de lien depuis le courriel de confirmation et sur la page de confirmation finale.
        Vérifiez que le logiciel Acrobat Reader, permettant d’ouvrir des fichiers PDF, est bien installé sur votre
        ordinateur. Son installation et son usage sont gratuits.
        Le billet est personnel et nominatif.{% endtrans %}</p>

    <h6 id="16">{% trans %}Comment imprimer le billet?{% endtrans %}</h6>
    <p class="aide">{% trans %}Vous devez disposer d'une imprimante.
        Chaque billet doit être imprimé sans modification de la taille d'impression, en pleine page, sur du papier A4
        blanc, vierge recto et verso.
        {% endtrans %}</p>
    <h6 id="17">{% trans %}Mon billet est-il bien imprimé?{% endtrans %}</h6>
    <p class="aide">{% trans %}Un billet partiellement ou mal imprimé, endommagé ou illisible n'est pas valable.
        Vous devez pouvoir lire: le prénom et le nom du porteur, les informations liées à la prestation choisie, le
        code-barres et son numéro.
        Vous êtes donc tenu de vérifier le détail et l'état des billets que vous avez imprimé.
        {% endtrans %} </p>
    <h6 id="18">{% trans %} Je n'arrive pas à imprimer !{% endtrans %}</h6>
    <p class="aide">{% trans %}Si vous avez rencontré une difficulté lors de l'impression de votre billet, vous pouvez la réitérer
        en utilisant à nouveau le lien de téléchargement de votre billet depuis le courriel de confirmation.
        {% endtrans %}</p>
    <p class="align"><a href="#groupe4">{% trans %}Haut de page{% endtrans %}</a></p>

    <h3>{% trans %}ACCEDER A LA PRESTATION AVEC SON BILLET{% endtrans %}</h3>

    <h6 id="19">{% trans %}Quelles sont les conditions d’utilisation du billet?{% endtrans %}</h6>
    <p class="aide"> {% trans %}Le billet est personnel et nominatif. Il doit mentionner le prénom et le nom de son porteur.
        Le billet est horodaté et valable exclusivement pour la prestation, la date et l'heure choisies. Il permet un
        accès à la pyramide du Louvre dans la demi-heure de l’horaire indiqué sur le billet. Au-delà de ce créneau
        horaire, le porteur du billet imprimé à domicile est soumis aux mêmes conditions d’accès et d'attente que les
        visiteurs sans billets.
        {% endtrans %} </p>
    <h6 id="20"> {% trans %}Comment mon billet est-il contrôlé?{% endtrans %}</h6>
    <p class="aide">{% trans %} L'accès à la prestation est soumis au contrôle de la validité du billet.
        Le billet comporte un code-barres unique contenant les informations relatives à la prestation achetée.
        Vous devez valider votre billet en présentant son code-barres sur les lecteurs positionnés aux points de
        contrôle des billets aux entrées des collections.
        Seule la première personne à présenter le billet est présumée en être le porteur légitime. L'accès à la
        prestation peut être refusé dès lors que plusieurs impressions ou copies sont en circulation.
        Un contrôle nominatif des billets peut également être effectué. En cas de non présentation d'un document
        d'identité en cours de validité, avec photographie, l'accès à la prestation est refusé.
        Vous devez conserver votre billet durant toute la durée de votre visite.
        {% endtrans %}</p>
    <p class="align"><a href="#groupe5">{% trans %}Haut de page{% endtrans %}</a></p>

{% endblock %}