{% extends "::layout.html.twig" %}

{% block body %}
    <div class="texte">
        <p>
            Pour commander, vous devez sélectionner :
        <ul>
            <li>
                Le jour de la visite
            </li>
            <li>
                Le type de billet (Journée, Demi-journée…).
            </li>
            <li>
                Le nombre de billet
            </li>
        </ul>
        Puis suivre les indications données
        </p>
    </div>

    <h3>Choisissez une date</h3>
    <p>

    </p>
    <h3>Choisissez le type de billet</h3>
    <p>

    </p>
    <h3>Choisissez le nombre de billet</h3>
    <p>

    </p>
{% endblock %}