body {
    background: #e9edf0;
}

.container {
    background-color: rgb(255, 255, 255);
}

a.navbar-brand {
    float: none;
}

.menu {
    border-top: 4px solid #860101;
    padding: 22px;
}

ul.nav.nav-pills.nav-stacked {
    margin-bottom: 20px;
    margin-top: 20px;
}

.pannier {
    border-top: 4px solid #16212c;
    border-bottom: 1px solid #16212c;
    padding: 22px;
}

.resa {
    border: solid 2px #e9edf0;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}

h1 {
    background-color: #860101;
    color: white;
    padding: 20px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .jumbotron h1, .jumbotron .h1 {
        font-size: 32px;
    }
}

h4 {
    color: white;
    margin: 0;
    background-color: black;
    padding: 20px;
}

.musee {
    color: white;
    margin: 0;
    background-color: #860101;
    padding: 20px;
    font-size: 24px;
}

h3 {
    color: white;
    margin: 0;
    background-color: black;
    padding: 8px 25px 8px 20px;
    font-size: 16px;
}

.texte {
    margin: 20px;
    padding: 8px 25px 8px 20px;
}

h5 {
    font-weight: bold;
    font-size: 18px;
    color: #666;
}

h6 {
    background: none repeat scroll 0 0 #e6e6e6;
    font-weight: bold;
    font-size: 18px;
    padding: 7px 40px;
}

.louvre {
    padding-left: 50px;
    padding-right: 50px;
}

.information {
    padding: 15px 40px 15px 40px;
}

.information2 {
    padding: 15px 40px 15px 7px;
}

.aide {
    padding: 15px 40px 15px 40px;
}

.align {
    text-align: right;
}

.none {
    list-style: none;
}

li.none.col-sm-11 {
    padding: 0 15px 22px 0;
}

.cgv {
    margin: 20px;
    padding: 0;
}

.list li a {
    font-size: 18px;
    color: #666;
    font-weight: bold;
}

.bis {
    font-weight: bold;
}

ol.none.col-sm-11 {
    padding: 0 15px 22px 0;
}

.liste:before {
    content: '- ';
}

li.liste {
    padding-left: 15px;
}

.fin {
    text-align: right;
    font-size: 16px;
    margin-top: 40px;
    padding-right: 20px;
}

.tarifs {
    padding: 50px 40px 15px 40px;
    font-size: 18px;
}

.tarif {
    padding: 0 0 13px 0;
}

.reduit {
    padding: 0 40px 15px 40px;
}

li.color a {
    color: #6E6E6E;
    font-size: 17px;
}
.billets{
    padding: 5px;
}
.billet{
    border: 1px solid #860101;
    padding: 13px;
    border-radius: 5px;
}

.billetterie{
    padding: 25px 0 25px 0;
}
.numero{
    padding-top: 15px;
    font-weight: bold;
    font-size: 20px;
}

.infos{
    border-bottom: 1px solid bisque;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid bisque;
}
.info{
    border-left: 1px solid bisque;
    padding-top: 15px;
}

.btn-default{
}

.boutonInfo{
    float: right;
    box-shadow: 5px 5px 12px 0 rgba(134, 1, 1, 0.42);
    border-color: #860101;
    background-color: rgba(245, 235, 235, 0.8);
    margin-bottom: 0;
}

.boutonInfo .form-group .btn-default  {
    box-shadow: 5px 5px 12px 0 rgba(134, 1, 1, 0.42);
    background-color: rgba(245, 235, 235, 0.8);
    color: #333;
    padding: 6px 12px;
    border: 1px solid #860101;
    border-radius: 4px;
    overflow: visible;
}

.valider{
    box-shadow: 5px 5px 12px 0 rgba(134, 1, 1, 0.42);
    background-color: rgba(245, 235, 235, 0.8);
    color: #333;
    padding: 6px 12px;
    border: 1px solid #860101;
    border-radius: 4px;
    overflow: visible;
    margin-left: 20px;
}

.retour{
    box-shadow: 5px 5px 12px 0 rgba(134, 1, 1, 0.42);
    padding: 6px 12px;
    border-radius: 4px;
    overflow: visible;
    color: black;
    background-color: rgba(245, 245, 245, 0.43);
    border-color: #428bca;
}


.bouton{
    box-shadow: 5px 5px 12px 0 rgba(134, 1, 1, 0.42);
    background-color: rgba(245, 235, 235, 0.8);
    color: #333;
    padding: 6px 12px;
    border: 1px solid #860101;
    border-radius: 4px;
    overflow: visible;
}

.bouton:hover
{    color: black;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.panier{
    margin: 21px 21px 10px;
}

.ticket{
    font-size: 20px;
    border-bottom: 1px solid #860101;
}

.montant{
    font-size: 30px;
}


.form-group{
    margin: 0;
}

.coordonnees{
    padding: 25px 0 8px 0;
}

.detail{
    margin: 34px;
}

.boutonEnregistrer button{
    box-shadow: 5px 5px 12px 0 rgba(134, 1, 1, 0.42);
    background-color: rgba(245, 235, 235, 0.8);
    color: #333;
    padding: 6px 12px;
    border: 1px solid #860101;
    border-radius: 4px;
    overflow: visible;
}

.suiteBoutonEnregistrer{
    text-align: right;
    padding: 25px 0 8px 0;

}